## Deliverable 3. Create a Travel Itinerary Map.

In [20]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [21]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Avarua,CK,75.20,overcast clouds,-21.21,-159.78,Paradise Inn
1,16,Kapaa,US,84.20,light rain,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
2,19,Port Blair,IN,82.17,overcast clouds,11.67,92.75,Fortune Resort Bay Island
3,22,Guerrero Negro,MX,84.02,light rain,27.98,-114.06,"Casa Laguna, Bed & Breakfast"
4,28,Itarema,BR,77.00,scattered clouds,-2.92,-39.92,Windvillage

In [22]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [23]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Tlanepantla"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Tlanepantla"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Tomatlan"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "San Patricio"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Coahuayana"]

In [40]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame.
start = tuple([vacation_start.iloc[0]["Lat"], vacation_start.iloc[0]["Lng"]])
end = tuple([vacation_end.iloc[0]["Lat"], vacation_end.iloc[0]["Lng"]])
stop1 = tuple([vacation_stop1.iloc[0]["Lat"], vacation_stop1.iloc[0]["Lng"]])
stop2 = tuple([vacation_stop2.iloc[0]["Lat"], vacation_stop2.iloc[0]["Lng"]])
stop3 = tuple([vacation_stop3.iloc[0]["Lat"], vacation_stop3.iloc[0]["Lng"]])

In [42]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
tlanepantla2tlanepantla = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING")
fig.add_layer(tlanepantla2tlanepantla)
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,212,Tlanepantla,MX,77.0,scattered clouds,18.85,-97.90,Casa Martinez
1,445,Tomatlan,MX,76.6,light rain,19.93,-105.25,Norma franco
2,581,San Patricio,MX,86.0,broken clouds,19.22,-104.70,Hotel Cabo Blanco
3,498,Coahuayana,MX,78.8,broken clouds,18.73,-103.68,Hotel Los Arcos

In [53]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

     Lat     Lng
0  18.85  -97.90
1  19.93 -105.25
2  19.22 -104.70
3  18.73 -103.68

In [87]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer) 

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))